.search-container {
	margin: 50px auto 0;
  width: 50%;

  @media (max-width: 904px) and (min-width: 540px) {
    width: 70%;
  }

  @media (max-width: 539px) {
    width: 90%;
  }
}

.dateHeader {
  text-transform: capitalize;
  font-family: 'Tajawal', sans-serif;
  font-size: 25px;
  letter-spacing: 1.5px;
  margin-top: 30px;
  display: inline-block;

  @media (max-width: 539px) {
    text-align: center;
    margin-top: 50px;
  }
}

.infoIcon {
  position: absolute;
}

.btn {
  position: relative !important;
  top: -13px !important;

  @media (max-width: 539px) {
    display: none !important;
  }
}

.mobileBtn {
  position: relative !important;

  @media (min-width: 540px) {
    display: none !important;
  }
}

.datePicker {
  width: 50%;
  display: inline-block;

  @media (max-width: 539px) {
    div {
      width: 100% !important;
    }
  }
}

.inline-block {
	display: inline-block;
}

.dashboard-search {
  width: 80%;

  @media (max-width: 904px) and (min-width: 540px) {
    width: 75%;
  }

  @media (max-width: 539px) {
    width: 100%;
  }
}

.loading {
	text-align: center;
}
