.worksheetContainer {
	margin: 0 auto;
	width: 75%;
	position: relative;
  top: 25px;

  @media (max-width: 539px) {
    width: 90%;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.userWorksheetTitle {
  text-transform: capitalize;
  font-family: 'Tajawal', sans-serif;
  font-size: 25px;
  letter-spacing: 1.5px;
  margin-top: 25px;
}

.inline-block {
  display: inline-block;
}

.worksheetTitle {
  margin-top: 10px;
  text-transform: capitalize;
  font-family: 'Tajawal', sans-serif;
  font-size: 30px;
}

.worksheetItem:hover {
  cursor: pointer;
}

.preview {
  overflow: hidden;
  height: 122px;
  text-align: left;
  margin: 0 10px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.highlight {
  background-color: #e0e0e0;
}

.previewItem {
  padding: 3.5px 10px;
}
