.worksheetContainer {
	margin: 0 auto;
	width: 75%;
	position: relative;
	top: 25px;
}

.userWorksheetTitle {
	text-transform: capitalize;
}

.inline-block {
  display: inline-block;
}

.worksheetTitle {
  margin-top: 10px;
  text-transform: capitalize;
}
