.worksheetContainer {
	margin: 0 auto;
	width: 75%;
	position: relative;
	top: 25px;
}

.userWorksheetTitle {
	text-transform: capitalize;
}

.inline-block {
  display: inline-block;
}

.worksheetTitle {
  margin-top: 10px;
  text-transform: capitalize;
}

.worksheetItem:hover {
  cursor: pointer;
}

.preview {
  overflow: hidden;
  height: 122px;
  text-align: left;
  margin: 0 10px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.highlight {
  background-color: #e0e0e0;
}

.previewItem {
  padding: 3.5px 10px;
}
