.navbar {
  height: 70px;
}

.baseButton {
  border: 1px solid black !important;
  border-radius: 15px !important;
}

.inline-block {
  display: inline-block;
}

.logoutSection {
  position: absolute;
  right: 25px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px 0;
  text-align: center;
}

.logoutBtn {
  @extend .baseButton;
}

.reportActionContainer {
  width: 70%;
  margin: 0 auto;
  text-align: right;
}

.saveReport {
  @extend .baseButton;
}

.clearReport {
  @extend .baseButton;
}

.dialogText {
  font-family: 'Tajawal', sans-serif;
}

.username {
  padding: 0 10px;
  position: relative;
  bottom: 5px;
  font-family: 'Tajawal', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
  height: 70px;
}
