.navbar {
  height: 65px;
}

.inline-block {
  display: inline-block;
}

.logoutSection {
  position: absolute;
  right: 25px;
  border-left: 1px rgba(0, 0, 0, .3) solid;
  padding: 10px 10px 0;
  text-align: center;
}

.logoutBtn {
  position: relative;
  left: 5px;
}

.username {
  padding: 0 10px;
  position: relative;
  bottom: 5px;
}
